* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul-escuro-principal: #05377f;
    --azul-claro-destaque: #3886f7;
    --azul-palido-acento: #8ca4fc;
    --cinza-neutro: #827272;
    --bege-background: #d8c4ad;
    --cor-texto-branco: #ffffff;
    --cor-texto-preto: #000000;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: blue;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bege-background);
}

/* Cabeçalho */

header,
footer {
    width: 100%;
    display: flex;
    height: 8rem;
}

header {
    background-color: var(--azul-escuro-principal);
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.header-img,
.header-nav {
    height: 100%;
    width: 50%;
}

.header-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.header-nav {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header-page-nav {
    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    padding: 0 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-style: bolder;
    cursor: pointer;
    transition: 0.2s linear;
}

.header-page-nav:hover {
    transform: scale(110%);
}

/* Conteudo Principal */

main {
    flex-grow: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-top,
.section-bottom {
    height: 49%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.column {
    height: 100%;
    width: 20%;
    background-color: var(--azul-palido-acento);
    border-radius: 5px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    justify-content: space-evenly;
}

.column h3 {
    text-align: center;
}

#block1 {
    width: 73%;
    background-image: url("../img/image.jpeg");
    background-position: 50rem;
}

#block2 {
    width: 20%;
    margin-left: auto;
    background-image: url("../img/image2.jpeg");
    background-position: 50rem;
}

/* Rodapé */

footer {
    color: var(--cor-texto-branco);
    background-color: var(--cinza-neutro);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

/* Tela iPhone 14 e 15 Pro */

@media (max-width: 393px) {
    

    .header-img img {
        max-width: 80%;
    }

    .section-top,
    .section-bottom {
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    
    .column {
        width: 100%;
        margin-bottom: 2rem;
    }

    #block1,
    #block2 {
        width: 100%;
        height: 150px;
        margin-bottom: 2rem;
    }

    footer {
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
        line-height: normal;
    }
}